<!--<%- include('partials/header') %>-->

<!DOCTYPE html>
<html>
<head>
      <meta charset="UTF-8">
      <title>Provita Pharmeceuticals</title>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      <link rel="stylesheet" href="css/stylesheet.css">
      <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</head>
<body>


<nav class="navbar navbar-expand-lg fixed-top navbar-dark" style="background-color: #1c2938;">
    <div style="float:left;">
      <a class="navbar-brand" href="/">
        <img src="images/ProvitaNewLogoTransparent.png" alt="ProvitaLogo" class="navLogo">
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" style="position: absolute !important; right: 10px !important;">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarText" style="clear:both;float:right;">
      <ul class="navbar-nav navbar-right" style="padding: 5px;">
        <li class="nav-item" style="margin-top: 9px;">
          <button type="button" class="btn btn-default margin-right"><a class="aLoginSignIn" href="#contactUsPage"  style="text-decoration: none; color: #ffffff"><i class="fas fa-user"></i> Contact Us</a></button>
        </li>
        <li class="nav-item" style="margin-top: 9px;">
          <button type="button" class="btn btn-default"><a class="aLoginSignIn" href="#aboutUsPage" style="text-decoration: none; color: #ffffff;"></i> About Us</a></button>
        </li>
      </ul>
    </div>
</nav>

<div class="landing">
    <center>
      <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12">
          <div class="card productCardc">
            <div class="card-body">
              <h1 class="landingHeader card-title" style="font-size: 450%; padding-top: -150px; font-weight: 300;">Stay in the Know.</h1>
              <form action="/" class="form-signin" method="POST" style="padding: 30px; padding-top: 0;">

                <div class="form-row" style="padding-bottom: 20px">
                  <div class="col-md-4" style="padding: 5px">
                    <input type="text" name="fName" class="form-control" placeholder="First Name" required autofocus>
                  </div>
                  <div class="col-md-4" style="padding: 5px">
                    <input type="text" name="lName" class="form-control" placeholder="Last Name" required>
                  </div>
                  <div class="col-md-4" style="padding: 5px">
                    <input type="email" name="email" class="form-control" placeholder="Email" required>
                  </div>
                </div>
                <button class="btn-default btn btn-lg" type="submit">Sign Me Up!</button>

              </form>
            </div>
          </div>

        </div>
      </div>
    </center>
</div>

<div class="aboutUs" id="aboutUsPage">
    <center>
        <img id="aboutUsHeart" class="fluid img-responsive center-block" src="images/heartAboutUs.png" alt="heartImage">
        <h1 class="aboutUsHeading" style="font-size: 300%">About Provita.</h1>
        <p class="aboutUsText" style="font-size: 120%; padding-left: 300px; padding-right: 300px;"></p>
          <div class="row">
            <div class="col-sm-12 col-lg-12 col-md-12">
              <div class="card productCardb">
                <div class="card-body">
                  <p class="card-text" style="font-size: 18px;">Provita Pharmaceuticals is a student-run pharmaceuticals company that focuses on the betterment of lives around the world through the creation
                    and innovation of new technologies and drugs. We hope to advance the world medically and to become profitable. To learn more about our work and the products we
                    are working run, scroll down to the section with information about all of our products.</p>
                </div>
              </div>

            </div>
          </div>
    </center>

</div>

<div class="allProducts">
  <center>
    <h2 style="padding-bottom: 30px;">Current Products We Are Working On</h2>
  </center>
  <center>
    <div class="row">
      <div class="col-sm-12 col-lg-3 col-md-6">
        <div class="card productCard">

          <img src="images/provitaStudent1.PNG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="font-size: 40px">PatchAid</h5>
            <p class="card-text">PatchAid is a transdermal patch used to aid hypertrophic scarring management and prevents HTS from occurring after burn scars.
              Myofibroblasts are the cells that produce excess collagen when it receives Substance P and resultantly cause hypertrophic scarring, so the patch inhibits the receptors
              of Substance P to prevent hypertrophic scarring from occurring.</p>
          </div>
        </div>

      </div>
      <div class="col-sm-12 col-lg-3 col-md-6">

        <div class="card productCard">
          <img src="images/provitaStudent2.PNG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="font-size: 40px">VitaClick</h5>
            <p class="card-text">VitaClick is a triple click injector system for myocardial infarctions. They have two chamber systems, which is a solid and liquid component,
              that are broken together to make the drug. This system extends the shelf life of the product. The group is currently working on the Auto CAD, which is known as computer aid design.
              They’re creating the triple click injector system parts. In order to 3D print it, they need to scale it to an accurate measurement and make new designs and parts.
              The legal sector has found the competitors of VitaClick and is waiting for them to have the design so they can make the design patent.</p>
          </div>
        </div>

      </div>
      <div class="col-sm-12 col-lg-3 col-md-6">

        <div class="card productCard">
          <img src="images/provitaStudent4.PNG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="font-size: 40px">MeshCare</h5>
            <p class="card-text">In MeshCare we are working on making a mesh through multiple experiments. There was a solution made roughly two months ago that was left in a water bath.
              One of the main goals of this project is to try to make meshes that prevent adhesions on the wrong side of the body.
              The mesh could only go on one side because if it goes onto the side with intestines, this could be very harmful to the patient.
              Additionally, we want to make a membrane mesh hybrid. The meshes should be biodegradable because they will have lower chances of complications.</p>
          </div>
        </div>

      </div>
      <div class="col-sm-12 col-lg-3 col-md-6">

        <div class="card productCard">
          <img src="images/provitaStudent5.PNG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="font-size: 40px">Replivax</h5>
            <p class="card-text">Replivax is a vaccine intended to treat the West Nile virus, specifically in third world countries in Africa.
              It will be consumed orally and will use electroporation which make holes in the cell membranes to get the drug into cells.
              Replivax will be a non-profit subsidiary of Provita Pharmaceuticals. The bigger picture issue at hand is that there are significant challenges in getting
              potent drugs to the sub-Saharan region of Africa. The key weakness of the cold chain is that during certain parts of the process, the cold temperature cannot be maintained,
              therefore degrading the drug. In theory, if the method works it will have the ability to survive the unreliable cold chain and arrive to Africa potent.</p>
          </div>
        </div>

      </div>
    </div>
  </center>
</div>

<div class="contactUsPage" id="contactUsPage">
  <center>
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12">
        <div class="card productCardd">
          <div class="card-body">
            <h2 class="card-title" style="padding-bottom: 50px;">Contact Us</h2>
            <form action="mailto:provitapharmeceuticals@gmail.com" class="form-signin" method="POST" enctype="text/plain">
              <div class="form-group">
                <label>First Name:</label>
                <input name="First Name" type="text" class="form-control col-sm-12" id="fnameC" aria-describedby="emailHelp" placeholder="Enter first name">
              </div>
              <div class="form-group">
                <label>Last Name:</label>
                <input name="Last Name" type="text" class="form-control col-sm-12" id="lnameC" aria-describedby="emailHelp" placeholder="Enter last name">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Email:</label>
                <input name="Email" type="email" class="form-control col-sm-12" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Message:</label>
                <textarea name="Message" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>

              <small id="emailHelp" class="form-text text-muted" style="padding-bottom: 10px">We will never share your name with anyone else.</small>
              <button type="submit" class="btn-default btn btn-lg" value="Send">Submit</button>
            </form>
            <p style="padding-top: 10px;">If the form does not work, please contact us through the email: provitapharmeceuticals@gmail.com</p>
          </div>
        </div>

      </div>
    </div>
  </center>
</div>

<div class="footer">
    <center>
        <table>
            <tr>
                <th> Social Media </th>
            </tr>
            <tr>
                <td> <a href="https://www.instagram.com/provita_pharma/">Instagram</a> </td>
            </tr>
            <tr>
              <td>Contact Us by Email: provitapharmeceuticals@gmail.com</td>
            </tr>
            <tr>
              <td>Disclosure: This website is purely informational and for educational purposes. We do not guarantee any of our products work or will be available in the future.</td>
            </tr>
            <center>
                <tr>
                    <td>Copyright © 2020 - Provita Pharmaceuticals</td>
                </tr>
            </center>
        </table>
    </center>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>

<!--<%- include('partials/footer') %>-->
