<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="css/contactUs.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container contact">
        <div class="contactUs">
            <center>
                <h1 class="contactUs">Contact us and we will get back to you as soon as posssible.</h1>

                <form action="/" class="form-signin" method="POST">
                    <label class="control-label col-sm-2">First Name:</label>
                    <div class="col-sm-10">
                        <input type="text" name="fNameC" class="form-control-sm" id="fnameC" placeholder="First Name" required autofocus>
                    </div>


                    <label class="control-label col-sm-2">Last Name:</label>
                    <div class="col-sm-10">
                        <input type="text" name="lNameC" class="form-control-sm" id="lnameC" placeholder="Last Name" required autofocus>
                    </div>

                    <label class="control-label col-sm-2">Email:</label>
                    <div class="col-sm-10">
                        <input type="email" name="emailC" class="form-control-sm" placeholder="Email" required autofocus>
                    </div>

                    <div class="form-group">
                          <label class="control-label col-sm-2">Message:</label>
                          <div class="col-sm-10">
                            <textarea class="form-control" rows="5" id="messageC"></textarea>
                          </div>
                    </div>

                  <button class="btn-default btn btn-lg" type="submit">Send Message</button>
                </form>
            </center>
        </div>
    </div>
</body>

</html>