<%- include('partials/header') %>

<!--Style Colors-->
<!--Accents:-->
<!--#F07547-->
<!--#F9DAB3-->

<!--Background:-->
<!--#00354B-->
<!--#d9eeec-->

<!--from https://app.brandmark.io/v2/-->

<!--<div class="jumbotron">-->
  <!--<h1 class="display-4">Welcome to Provita Pharmeceuticals!</h1>-->
  <!--<p class="lead">We are a Pharmeceutical Company focused on making the world a better place.</p>-->
  <!--<hr class="my-4">-->
  <!--<p>Our products are attempts to save the world from pain and suffering.</p>-->
  <!--<p class="lead">-->
    <!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn More!</a>-->
  <!--</p>-->
<!--</div>-->


<nav class="navbar navbar-expand-sm fixed-top navbar-dark" style="background-color: #FFFFFF;">
    <ul class="navbar-nav">
    <li class="nav-item">
      <a class="navbar-brand" href="/">
       <div class="logo-image">
           <img src="images/ProvitaNewLogo.PNG" alt="ProvitaLogo" class="navLogo img-fluid">
       </div>
        </a>
    </li>
        <li>
            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Contact Us</button>
            </form>
        </li>
  </ul>
</nav>

<div class="landing">
    <center>
        <h1 class="landingHeader">Sign Up to Our Newsletter!</h1>

        <form action="/" class="form-signin" method="POST">

          <input type="text" name="fName" class="form-control-sm top" placeholder="First Name" required autofocus>
          <input type="text" name="lName" class="form-control-sm middle" placeholder="Last Name" required>
          <input type="email" name="email" class="form-control-sm bottom" placeholder="Email" required>

          <div class="checkbox mb-3">
          </div>
          <button class="landingBtn btn btn-lg" type="submit">Sign Me Up!</button>
        </form>
    </center>
</div>

<div class="aboutUs">
    <center>
        <img id="aboutUsHeart" class="fluid img-responsive center-block" src="images/heartAboutUs.png" alt="heartImage">
        <h1 class="aboutUsHeading">About Provita.</h1>
        <p class="aboutUsText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </center>

</div>

<div class="productsDescription">

      <div class="row" style="padding: 7% 15%;">
          <div class="feature-box col-lg-4" style="text-align: center; padding: 5%;">
              <i class="icon fas fa-check-circle fa-4x"></i>
              <h3>Product 1</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>

          <div class="feature-box col-lg-4" style="text-align: center; padding: 5%;">
              <i class="icon fas fa-bullseye fa-4x"></i>
              <h3>Product 2</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>

          <div class="feature-box col-lg-4" style="text-align: center; padding: 5%;">
              <i class="icon fas fa-heart fa-4x"></i>
              <h3>Product 3</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
      </div>

</div>

<div>

</div>

<%- include('partials/footer') %>