/*Color Pallete:*/
/*1. #f4f6f6*/
/*2. #ff9c91*/
/*3. #cd3f3e*/
/*4. #1c2938*/
html,body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

.navLogo {
    max-width: 20%;
    height: auto;
}

.landing {
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    color: #1c2938;
    padding-top: 180px;
    padding-bottom: 100px;
    top: 0;
    left: 0;
    background-color: #f4f6f6;
    background: url("/images/provitaStudent4.PNG") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.landingMiddle {
    position: relative;
    height: 400px;
    width: 1000px;
    padding: 0;
    border: 0;
    margin: 0;
    background-color: #f4f6f6;
    border-radius: 6%;
}

.landingHeader {
    padding-top: 90px;
    padding-bottom: 50px;
    color: #1c2938;
}

.contactUs {
    position: absolute;
    right: 100px;
    top: 33px;
    width: 100%;
}

.aboutUs {
    height: auto;
    margin: 0;
    border: 0;
    padding: 70px;
    background-color: #ff9c91;
    width: 100%;
    color: #1c2938;
}

.allProducts {
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 200px;
  padding-right: 20px;
  background-color: #cd3f3e;
}

.productCard {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #ff9c91;
}

.productCardb {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #ff9c91;
  border-color: #1c2938;
  border-radius: 5%;
}

.productCardc {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #f4f6f6;
  border-radius: 5%;
  width: 60%;
}

.productCardd {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
  background-color: #f4f6f6;
  border-radius: 5%;
  width: 60%;
}

#aboutUsHeart {
    margin-bottom: 30px;
}

.aboutUsText {

}

.aboutUsHeading {
    margin-bottom: 30px;
}

.footer {
    margin: 0;
    border: 0;
    padding: 0;
    height: 300px;
    background-color: #1c2938;
    width: 100%;
    color: #f4f6f6;
    padding-top: 50px;
    font-family: 'Raleway', sans-serif;
}

.margin-right {
    margin-right: 15px;
}

.btn-default {
    background-color: #f66767;
    border-color: #f66767;
    color: #f4f6f6;
}

.btn-default:hover {
    background-color: #ff9c91;
    border-color: #ff9c91;
    color: #f4f6f6;

}

/* total width */
body::-webkit-scrollbar {
    background-color:#1c2938;
    width:10px
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
    background-color:#1c2938
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
    background-color:#ff9c91;
    border-radius:13px;
    border:1px solid #cd3f3e
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {display:none}

.patchAid {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #cd3f3e;
    width: 100%;
    color: #1c2938;
    font-family: 'Raleway', sans-serif;
}

.vitaClick {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #ff9c91;
    width: 100%;
    color: #1c2938;
    font-family: 'Raleway', sans-serif;
}

.meshCare {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #cd3f3e;
    width: 100%;
    color: #1c2938;
    font-family: 'Raleway', sans-serif;
}

.repliVax {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #ff9c91;
    width: 100%;
    color: #1c2938;
    font-family: 'Raleway', sans-serif;
}

.contactUsPage {
    padding-top: 50px;
    padding-bottom: 100px;
    border-top: 100px;
    background-color: #ff9c91;
}
